body{
    padding: 30px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: black;
    color:yellow;
}
label,input{
    padding: 0px !important;
    margin:0px !important;
}
input{
    margin-bottom: 4px !important;
}

